.layout__area--top, .overflowWrap-PWdgT-U_-, .wrap-3tiHesTk- {
    font-size: 12px !important;
    height: 26px !important;
}

.layout__area--center {
    top: 26px !important;
}

.symbol-list-item {
    font-size: 10px !important;
    font-weight: bolder;
    height: 22px !important;
}